$color_intenso: rgb(30, 59, 73);
$color_medio: rgb(56, 104, 116);
$color_general: rgb(71, 114, 124) ;
$resaltador: rgb(42, 105, 134);
$colorcaja:rgb(212, 212, 212);
$color2: rgb(16, 16, 16);
$color_general2: rgba(31, 76, 88, 0.651) ;
$coloraza:#89253e;
$colorazo2:#102c45;

