$colorlindo: rgb(255, 223, 168) ;
$color_intenso: rgb(173, 148, 105);
$color_medio: rgb(199, 178, 143);
$color_general:rgb(173, 160, 140) ;
$fondos:rgb(216, 204, 180);
$resaltador:rgb(181, 151, 99);
$letras_detalles:rgb(29, 29, 29); 